
  footer {
	display: flex;
	flex-direction: row;
	background-color: #2f3e52;
	color: white;
	overflow: hidden;
	left:0;
	width: 100%;
	bottom: 0;
	margin-top:50px; /*Avstand fra modalene og footeren*/
	padding: 20px;
  
	
	}
  
  footer h1 {
	font-size: 24px;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
  }
  
  footer a {  
	  color: white;
	  font-size: 1em;
	   list-style-type: none;
	   text-align:end;
	   padding: 3px;
  }
  
	 footer p {  
	  color: white;
	  letter-spacing: 1px;
	  font-size: 1em;
	  display: block;
	  line-height: 1.625;
	  margin-bottom: 40px;
	  margin: 0;
	 
	 
	 }
  
	 .left p {
	  margin-bottom: 5px;
	 }
  
	.left {
	  display: inline-block;
	  text-align: left;
	  /*padding: 5px;
	  padding-left: 20px;*/
	/* margin-top: 30px;
	margin: 10px;
		 margin-left: 50px;
	   margin-right: 50px;*/
		margin-bottom: 10px;  
  
  
	 
	  width:  30%; /*lager luft mellom boksene*/
	}
  
	.centered {
	  display: inline-block;
	  width:  30%;
  
	 
  
	  }
  
  /*Social Media Icons*/
  .centered .social-media {
	 /* margin-top: 30px;
	   margin: 10px 0px 0px;*/
	   padding: 0;
	  text-align: center;
  
  
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon{
	  margin-top: .625em;
	  width: 40px; /*bredden på ikonene*/
	  height: 40px; /*Høyden på ikonene*/
  /*	
	  filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover {
   opacity: 1.0;
   opacity: .6;
   filter: alpha(opacity=60);/* For IE8 and earlier */
  }
  
	.right .map{
	 /*  padding-left: 20px;
	  padding-right: 20px;
	padding: 20px;*/
	  /* margin-top: 30px;*/
	/*  margin-bottom: 10px;*/
	 margin: 10px;
	 width:  30%;
	}
  
  
	.right{
	 /* padding: 5px;*/
	   /* margin-top: 30px;*/
	/*  margin-bottom: 10px;*/
	/* margin: 10px;*/
	  margin-right: 80px;
	  width:  30%;
	 }
  
   /*Ved skjermskifte*/
	@media (max-width: 1200px) { /*Endre størrelsen på nettsiden*/
	  footer,
	  .footer-bottom{
		flex-direction: column;  
		width: auto;
	
	  }
	}
  