/*Alle Kortene*/
section {
display: flex;
justify-content: center;
align-items: center;
column-gap: 20px; /*Lager luft mellom kolonnne av elementet*/

/*flex-direction: row;
float: center;*/

}

@media all and (max-width: 540px) {
  section {
    flex-direction: column;
  }
  
}


/* Må fikse avstanden mellom kortene, må sikkert lage en class for
hvert enkelt av dem */
.card {
  overflow: hidden; /*Gjør at bildeteffekten ikke går ut av kortet*/
  background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 800px;
    /*margin: 5px;*/
    text-align: center;
    padding: 20px;
    letter-spacing: 0.1rem; 
    line-height: 1.5rem;
  

  }
  section .card img {
   -webkit-transform: scale(1);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out; 
  }
 section .card:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .knapp {
    border-color: white;
   /* outline: 0; */
    display: inline-block;
    padding: 8px;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    border-color: plum;
  }
  /*
  .card:hover, a:hover {
    opacity: 0.7;
  }
*/

/*Ansatt kortene
.side2{
  padding-left: 300px;
}
*/



/*Alle Kortene*/
.ansatt-rad {
display: flex;
flex-direction: row; /*Lager de til en rad*/
align-items: center; 
justify-content: center;
flex-wrap: wrap; /*Pakker inn elementene*/
 width: 100%; /*Gir 3 rader*/ 
  
  /*justify-content:space-evenly; /*Gir luft mellom elementene men kortene ble ikke fine //  */ 
  column-gap: 20px; /*Fikset kortene!*/
  overflow: hidden;


  /*flex-direction: row;
  float: center;*/
  
  }
  /**/
  @media all and (max-width: 540px) {
    .ansatt-rad {
      flex-direction: column;
    }
    
  }
    .ansatt {
    overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 400px; /*Størrelse på boksene*/
      max-height: 600px;
      /*margin: 5px;*/
      text-align: center;
      background-color: white;
      margin-bottom: 2%;
  
    }
   
    .ansatt-rad .ansatt img {
width: 100%;
height: auto;

    }
      /*-webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out; 
    }
    .ansatt-rad .ansatt:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    */
    .title {
      color: grey;
      font-size: 18px;
    }
    
.ansatt h1 {
  margin-bottom:  0;
 
}
    
   .ansatt p {
     padding: 10px;
     margin:0;
      text-decoration: none;
      font-size: 22px;
    }
    
    .ansatt h1:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: relative;
      background: #9D8189;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    .ansatt h1:hover:after { 
      width: 100%; 
      left: 0; 
    }
  