/*All css kode er laget av meg (Krisitna)
* Koden er lagt til på egen CSS fil fordi noen av egenskapene kan påvirke css koden 
* til de andre på gruppa fordi * og section lar seg ikke connecte på spesifikke diver i html strukturen
*/

/* Gjør at input feltene til kontaktskjema-info holder seg på plass*/
*  {box-sizing:border-box}

/*Gjør at kontakt info og kontakt-skjema sidestilles */
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px; /*Lager luft mellom kolonnne av elementet*/

}

/*Gjør kontakt siden formenresponsiv - VIRKER IKKE skal fikses*/
section .kontakt-info, .kontaktskjema-info {
  display: flex;
  align-items:flex-start; 
  justify-content: flex-start;
  flex-wrap: wrap; /*Pakker inn elementene*/
  width: 30%; /*Endrer størrelsen på kontaktskjema*/ 
  padding: 30px;
  overflow: hidden;

}

.kontaktskjema-info input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
   
}

/* Kontakt Tekstboksen*/
.kontaktskjema-info textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 150px;
  resize: vertical;
  border: 1px solid #ccc;

}
    
.kontaktskjema-info label {
  padding: 5px;
  display: inline-block;
  
}

/*Kontakt knappen*/
.kontaktskjema-info  input[type=submit] {
  background-color: #2f3e52;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 100%;
    
}
    
.kontaktskjema-info input[type=submit]:hover {
  background-color: grey;
    
}
    
.kontaktskjema-info {
  background-color: white; /*Endrer fargen på kontakt boksen*/
  border-radius: 5px;
  padding: 20px;
  margin-top: 6%; /*avstand fra menyen*/    
}

