/* Felles */

body {
	margin: 0px;
	font-family: Arial, Times New Roman, Calibri, serif;
	font-size: 19px;
	text-align:center;
	position: absolute;
	width: 100%;
    background-image: url("Bakgrunn.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

main {
	min-height: 600px;
}

/*Responsiv footer ved PC-versjon
@media () { /*Endre størrelsen på nettsiden
}

*/

/*Responsiv footer ved mobil-versjon
@media (max-width: 1200px) { /*Endre størrelsen på nettsiden
    footer,
    .footer-bottom{
      flex-direction: column;  
      width: auto; 
    }
}
*/
/* **************************** navbar (Even) ***************************** */
.navbar {
    overflow: hidden; 
    background-color: #131921; /*#333;*/
  }
  
  .navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 18px 22px; 
    text-decoration: none;
  }

  .logo {
    width: 50px;
    height: 30px;
}

.logotext {
  width: 150px;
  height: 25px;
}
  
  
  .navbar a.right {
    float: right; 
  }
  
  .navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }

  #spraakKnapp {
    width: 50px;
    height: 50px;
	color: white;
  }


/* Navbor for Admin */
.navbar2 {
    overflow: hidden; 
    background-color: #333; 
}
  
.navbar2 a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 18px 22px; 
    text-decoration: none;
}

.navbar2 a.right {
    float: right; 
  }
  
  .navbar2 a:hover {
    background-color: #ddd; 
    color: black; 
  }


/* **************************** index (Even)  ***************************** */
.velkommenText{ /* Stor tekst, Velkomen */
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	border: solid black;
	margin: 30px;
}

  #KontrollerBD{
    display:flex;
	flex-direction: row;
  }
  
  .bildeKontroller{
    margin: 30px;
  }

  .bildeKontroller p, h1{
    width: 280px;
    text-align: justify;
    font-family: Arial;
    padding: 0px 0px 0px 5px;
  }

  .bildeKontroller h1 {
    font-size: 30px;
  }
  
  .bilder{ /*Bestill, Om Hundhotellet, Pris, BILDER*/
	width: 300px;
	height: 250px;
  }

  /**********Om oss bilder*********/
  #KontrollerBD2{
    display:flex;
	flex-direction: row;
  }
  
  .bildeKontroller2{
    border: 2px solid black;
    margin: 10px;
  }

  .bildeKontroller2 p, h1{
    width: 280px;
    text-align: justify;
    font-family: Arial;
    padding: 0px 0px 0px 5px;
  }

  .bildeKontroller2 h1 {
    font-size: 30px;
  }
  
  .bilder2{ 
	width: 280px;
	height: 250px;
  }

/* Bilde slideren er hentet fra https://www.w3schools.com/howto/howto_js_slideshow.asp */
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  /* Gjømmer bildene til nomralt */
  .mySlides {
	display: none;
  }

  /* Neste og forje knapper */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Posisjon på next og prev buttons */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }

  .prev {
	left: 0;
	border-radius: 3px 0 0 3px;
  }

  /* Gjør knappene litt mørkere når du holder over dem */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease; 
}

.active, .dot:hover {
	background-color: #717171;
}

/*Dette styrer animasjonen til bilde slideren*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

/*****Stop på hentet kode*****/

/* Pris og Info CSS tabell */
.info {
	display: flex;
	flex-direction: row;
}

.toKolTab, .toKolTab th, .toKolTab td  {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;	
}

.toKolTab th {
	font-size: 21px;
}

.informasjon {
	width: 450px;
    text-align: justify;
    font-family: Arial;
	height: auto;
	padding: 10px 8px 10px 8px;
	background-color: white;
	margin: 10px;
}

.annenInfo{
	width: 450px;
    text-align: justify;
    font-family: Arial;
	height: auto;
	padding: 10px 8px 10px 8px;
	background-color: white;
	margin: 10px;
}

.overskrift{
	text-decoration: underline;

}
/* Skriv anmeldse textArea CSS */ 
.anmeldseTilbakemelding textarea{
	resize: none;
	text-align: justify;
    font-family: Arial;
}

.anmeldseGodkjenning textarea {
	resize: none;
	text-align: justify;
    font-family: Arial;
}

/*Kontant oss CSS for å kjøre tekst bold*/
.storText{
	font-weight: bold;
}
  
/* **************************** Gunni ***************************** */
/*Hvit midtstilt bakgrunn*/
.hvitBakgrunn {
	display: inline-block;
	width: 60%;
	height: auto;
	padding: 40px 8px 25px 8px;
	background-color: white;
	box-shadow: -5px 0 10px -5px white, 5px 0 10px -5px white; /*Skyggeeffekt (Kristina)*/
	clip-path: inset(0px -15px 0px -15px); /*Gjør at skyggen ikke kommer på toppen og bunnen (Kristina)*/
}

/*Form grå bakgrunn*/
.skjemaBakgrunn {
	display: inline-block;
	width: 90%;
	height: auto;
	min-height: 600px;
	border-radius: 20px;
	padding: 15px 10px 25px 70px;
	background-color: #e7e4e4;
	text-align: left;

}
/*Form/Skjema innhold*/
.skjemaKolonner {
	display:flex;
	margin: 10px;
	margin-left: 0;
	border: 1px;
	padding: 5px;
	padding-left: 0; 
}
/*Setter bredde på hver kolonne*/
.skjemaKolonner div {
	max-width: 45%;
}

/* Setter bredde på EN kolonne. Denne brukes når den er på egenhånd*/
.soloKolonne { 
	max-width: 52%;
}

/* Kolonne 1 av 2, avstand til kolonne 2*/
.kolonne1 {
	margin-right: 5%;
}

/*Lite felt, for eksempel for "velg hund" eller velg år? */
.litenInput {
	width: 200px;
}

/*Gjenta passord- kolonne, gjør plass til passordtilbakemelding*/
div .gjentaPKolonne { 
	max-width: 100%;
	margin-top: 104px;
}

/*Hovedoverskrift*/
.hovedOverskrift {
	margin-top: 50px;
	font-size: 35px;
}

/* Overskrift til overskrift 2-stil (undertittel)*/
.overskrift2 {
	font-size: 24px;
	margin-top: 40px;
}

/* Tekst i bestillOpphold4, da denne skal ta mindre plass*/
.mindreTekst {
	margin-bottom: -5px;
} 

/* Vis passord typer LEGGE TIL FLOAT RIGHT?? */
.visPassord {
	float: right;
  	margin: -23px 0px 10px 15px;
    font-size: 15px;
    font-style: italic;
}

/* Passordkrav */
.passordKrav {
    position: absolute;
    margin:  -25px 10px 10px 0; 
    font-size: 15px;
}

/* Plasserer linken tett under et element (f.eks under input-element!)*/
.hPosLink {
	display: block;
	position: absolute;
	float: right;
  	margin:  -20px 10px 10px 0px; 
  	font-size: 15px;
  	color: black;
} 

/* Felles elementer i forskjellige input-typer*/
input[type=text].inputTekst, input[type=password].inputPassord,input[type=text].inputPassord, 
input[type=date].inputDato, textarea.tekstboks, select.inputSelect, .hunder select {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	margin: 4px 0 30px 0;
	border: 1px solid #b7aeae;
	border-radius: 4px;
	padding: 10px;
  	background-color: white;	
  	font-family: Arial, Times New Roman, Calibri, serif;
	font-size: 19px;
}

/* Textarea, høyde lik tre input- felt*/
.tekstfelt1 {
	height: 250px;
}

/* KNAPPER*/

/* Knappeposisjoner:*/

/* Plasserer knappen etter kolonne*/
.etterKolonnerKnapp {
	float:right;
	margin-right: 6.1%;
}

/* Plasserer knappen(e) nederst i skjemaet */
.bunnKnapp {
	margin-top: 100px;
}

/* Knapperad*/
.knappeRad {
	display: block;
}

/* Første knappen i en knapperad, vanligvis "tilbake-knapp" */
.knapp1IRad {
	float:left;
}

 /* Felles elementer for alle knapper: */
 input[type=submit].inputSubmit, input[type=button].inputButton {
 	margin: 25px 0;
 	border-radius: 4px;
	border-color: #2f3e52; 
 	padding: 10px 25px;
 	font-size: 19px;
 	text-decoration: none;
 }
 
 /* hovedKnapp, f.eks Logg inn, Registrer deg */
 input[type=submit].hovedKnapp, input[type=button].hovedKnapp {
 	width: 250px;
 	font-size: 20px;
	background-color: #2f3e52;
	color: #ffffff;
 }
 /* Bredere hovedknapp */
 input[type=submit].hovedKnapp2, input[type=button].hovedKnapp2 { 
	width: 270px;
	margin-bottom: 10px;
	background-color: #2f3e52;
	color: #ffffff;
 }

/* Logg-inn-knapp, gjør plass til tekst under knappen */
.loggInnKnapp input[type=submit] {
	margin-bottom: 5px;
	width: 215px;
}

/* EkstraKnapp, f.eks legg til hund */
input[type=submit].ekstraKnapp, input[type=button].ekstraKnapp {
	border-radius:25px;
	padding: 20px; /*Gjør knappen større*/
	margin: 5px 0;
	background-color: #ffffff;
}

/* Avbryt-knapp */
 input[type=button].avbrytKnapp {
	float: right;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	font-size: 27px;
	background-color: #2f3e52;
	color: #ffffff;
}

/* Vanlig størrelse på checkbox og radiobutton */
input[type=checkbox].litenCheckbox, input[type=radio].inputRadio {
	width: 16px;
	height: 16px;
}

/* Stor størrelse på checbox*/
input[type=checkbox].storCheckbox {
	width: 45px; 
	height: 45px;
}

/* Linker*/

 /* Link-tekst */
 
 /* link 1 av 2 på en rad, setter mellomrom mellom link 1 og 2 */
 .link1 {
 	padding-right: 32px;
 }
 
/* Linkrad med to linker */
 .ekstraLinker a { 
 	display: inline-block;
 	margin-top: 0px;
  	font-size: 14px;
 	color: black;
 	text-decoration: none; 
 }

 /*Vanlig linktekts, for eksempel i registrerDeg.php */
  .ekstraLink  {
  	font-size: 15px;
  	margin-top: 0;
  	margin-bottom: 35px;
  	text-decoration: none; 
  }
  /* Blå tekst */
  .blaaTekst {
  	color: blue;
  	font-style: italic;
	text-decoration: underline;
  }

/* Link i normal tilstand */
.link {
	color: #404040;
	text-decoration: underline; 
}

/*Når man holder over linken*/
.link:hover {
  color: #000000;
  text-decoration: underline; 
}

/* Når linken trykkes på*/
.link:active {
  color: #49116f;
  text-decoration: underline; 
}

/* Tabeller */

/*Horisontal tabell, th på toppen og tb under*/
.hTab {
	width: 90%;
}

/*Horisontal tabell, th på toppen og tb under*/
.hTab th {
	background-color: #cbd4e7;
}

/*Tabell med to kolonner */
.minSideToKolTab {
	width: 60%;
}



/* **************************** Kristina ***************************** */

 /*Felles hover effekt på alle submit/button knappene*/
 input[type=submit]:hover,  input[type=button]:hover {
	background-color: #613f75; /*Eksempelfarge*/
	
 }

 
.bildeKontroller { /*Kristina laget hover og skygge effekten*/
	overflow: hidden; /*Gjør at bildeeffekten ikke går ut av kortet*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

}
#KontrollerBD .bildeKontroller img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 

}

#KontrollerBD .bildeKontroller:hover img{
	-webkit-transform: scale(1.3);
    transform: scale(1.3);

}
/*Slutt på bildeeffekten*/

/*Aktuelt siden*/
.mellomromMellomInnlegg { /*Lager mellomrom mellom innleggene*/
	padding: 10px;
}

/*Kontakt oss siden*/

/*

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start ;
	margin: 0;

 */

 .kontakt .kontakt-info {
	margin: 10px;

}

.kontakt-info-tekst {
  margin-bottom: 40px;
}


/*Admin 
opphold, bur, mating, tur, luftegård, Innsjekk/utsjekk tabeller*/

.opphold table, .opphold {
	border-collapse: collapse;
	width: 100%; /*Størrelse på tabellen*/
  }

  .opphold tr { 
    background-color: white; /*Hvit bakgrunn på skjema*/
  }

  /*Overskrift i tabellene*/
  .opphold th {
	width: auto;
     background-color: #394f79;
     color: white;
	 padding-top: 20px;/*padding til overskrift*/
	 padding-bottom: 20px;
	 padding: 20px;
  }
  .opphold td {
	padding: 15px; /*padding til overskrift*/
	text-align: left;
	border-bottom: 1px solid #ddd;
  }



/*CVC modalen pop up*/
body .modal {
	overflow: hidden;
 }

/* Modal (bakgrunn) */
.modal { /*Brukes som felles element på flere plasser f.eks hund lagt til, bekreftet bestilling*/
	display: none; 
	position: fixed;
	z-index: 1; 
	padding-top: 100px; /* Her kan man midtstille modal-boksen */
	left: 0; /*Skifter man til 50% flyttes den grå skjermen*/
	top: 0; /*Samme skjer her*/ 
	width: 100%; /* Full bredde  Samme skjer her med den grå skjermen*/ 
	height: 100%; /* Full høyde */
	background-color: rgb(0,0,0); /* svart bakgrunn*/
	background-color: rgba(0,0,0,0.4); /* svart med opacity */
 }

/* Modal innhold */
.modal-innhold {
	display: block;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%; /*Endrer størrelsen på modalen*/
 }

/*Gjør cvc bilde responsiv */
.cvvkode {
	width: 100%;
	max-width: 400px;
	height: auto;
 }
img .cvvkode {
	width:auto;
	height:auto;
}


.modal-innhold p{
	padding: 20px;
	margin: 0;
 }

/* Lukke knappen til modal */
.lukkModal { /*Test med Gunn Inger sin avbryt knapp / Går ikke, er input og dette her er span*/
	width: 38px;
	height: 38px;
	margin: 0;
	margin-left: 95.5%;
	padding: 1px;
	border-radius: 50%;
	font-size: 27px;
	background-color: #394f79;
	color: #ffffff;
 }

.lukkModal:hover,.lukkModal:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

/*Til topp knappen*/
#tilToppKnapp { /*Endre til tilToppknapp*/
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    text-align: center;
    font-size: 20px; /*Endrer størrelse på selve */
    border: none;
    outline: none;
    background-color: #64a6bd;
    color: white;
    cursor: pointer;
    padding: 20px;
    border: none;
    border-radius: 50%;
    
 }

  #TilToppKnapp:hover {
    background-color: #613f75;
 }

  footer {
	display: flex;
	flex-direction: row;
	background-color: #2f3e52;
	color: white;
	overflow: hidden;
	left:0;
	width: 100%;
	bottom: 0;
/*	margin-top:5px; Avstand fra modalene og footeren*/
	padding: 20px;
 }


footer h1 { /*kan Samkjøres med andre overskrifter*/
	font-size: 24px;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
 }

footer a {  
    color: white;
    font-size: 1em;
    list-style-type: none;
    text-decoration: none;
    text-align:end;
    padding: 3px;
 }

   footer p {  
    letter-spacing: 1px;
    font-size: 1em;
    display: block;
    line-height: 1.625;
    margin-bottom: 10px; /*Lager luft mellom linjene*/
    margin: 0;
 }
 

/*info til footeren til venstre (Kontaktinformasjon)*/
  .venstre {
    display: inline-block;
    text-align: left;
	width:  40%; /* lager luft mellom boksene */
    /*margin-bottom: 10px;  	*/
 }

 /*Info til footeren i midten (Sosiale medier)*/
  .midten {
    display: inline-block;
    width:  30%;
 }

/*Sosiale medier ikoner */
.twitter-ikon,
.facebook-ikon,
.instagram-ikon{
	float: left;
	width: 50px;/*bredden på ikonene*/
 	height: 50px; /*Høyden på ikonene*/
	margin-top: .625em;
	padding: 8px;
 }

 /*Opacity effekt hover SoMe ikonene*/
.twitter-ikon:hover,
.facebook-ikon:hover,
.instagram-ikon:hover {
 opacity: 1.0;
 opacity: .6;
 filter: alpha(opacity=60); /* For IE8 og tidligere */
 }

 /*Kart til hundehotelladressen*/
  .høyre .kart{
   margin: 10px;
   width:  30%;
 }

/*Til høyre i footeren (Samarbeidspartnere*/
  .høyre{
	text-align: left;
    margin-right: 80px;
    width:  30%;
 }

 

/* **************************** Trygve  ***************************** */
/* alle */
.litenKnapp {
    width: 200px;
    padding: 14px;
    border: none;
    border-radius: 4px;
	margin-right: 10px;
    cursor: pointer;
	font-size: 16px;
    /* Color */
    color: white; 
    background-color: rgb(60, 79, 104);
}

.litenSelect {
    max-width: 350px;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	margin: 4px 0 30px 0;
	border: 1px solid #b7aeae;
	border-radius: 4px;
	padding: 10px;
  	background-color: white;	
  	font-family: Arial, Times New Roman, Calibri, serif;
	font-size: 19px;
}

/* Index */
#anmeldelseBoks a {
    cursor: pointer;
    padding: 18px 15px 18px 15px; 
}

#anmeldelseTekstBoks{
    width: 700px;
    height: 150px;
    border: 1px solid black;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 28px;
    position: relative;
    font-style: italic;
}

/* bestill opphold */
#bestillOpphold1Mld {
    color:red;
    margin-bottom: 10px;
}

.velgHundKnapp {
    display: block; 
    width: 140px;
    padding: 10px;
    margin: 0px;
    border: none;
    border-radius: 4px;
    margin: 8px 0;
    cursor: pointer;
    /* Color */
    color: white; 
    background-color: rgb(60, 79, 104);
}

/* blaaTab (Trygve og Kristina) */
.blaaTab table{
	border-collapse: collapse;
}

.blaaTab tr {
	background-color: white; /*Hvit bakgrunn på skjema*/
}

.blaaTab th {
	width: auto;
	background-color: #394f79;
	color: white;
	padding-top: 15px;/*padding til overskrift*/
	padding-bottom: 15px;
	padding: 15px;
	font-size: 18px;
}

.blaaTab td {
	padding: 15px; /*padding til overskrift*/
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
}


/* blaaTabSmal (Trygve og Kristina) */
.blaaTabSmal {
	padding-bottom: 20px;
}


.blaaTabSmal tr {
	background-color: white; /*Hvit bakgrunn på skjema*/
}

.blaaTabSmal th {
	width: auto;
	background-color: #394f79;
	color: white;
	padding-top: 5px;/*padding til overskrift*/
	padding-bottom: 5px;
	padding: 5px;
	font-size: 18px;
}

.blaaTabSmal td {
	padding: 5px; /*padding til overskrift*/
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
}

/* inspiserHundTab (Trygve og Kristina) */
.inspiserHundTab table {
    table-layout: fixed;
}

.inspiserHundTab tr {
	background-color: white; /*Hvit bakgrunn på skjema*/
}

.inspiserHundTab th {
	width: auto;
	background-color: #d2e1ff;
	padding: 5px;
	font-size: 18px;
    text-align:left
}

.inspiserHundTab td {
	padding: 5px; /*padding til overskrift*/
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
}