body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: white;
  }

.takkSiden {  
    max-width: 500px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to left, #743ad5, #d53a9d);
    padding: 3px;
  }
  
  .module {
    background: white;
    color: black;
    padding: 2rem;
  }
  
/*Farge til OK fonten*/
.module .fa-check-circle {
    color:lime;
 
}
/*Lager luft rundt linkene*/
  .module .LinkerTilTakkSiden {
      padding: 20px;

   
  }

